Source: longnowformd
Section: utils
Priority: optional
Maintainer: Nuno Sempere <nuno.semperelh@gmail.com>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.4.1
Homepage: https://github.com/NunoSempere/longNowForMd
#Vcs-Browser: https://salsa.debian.org/debian/longnowformd
#Vcs-Git: https://salsa.debian.org/debian/longnowformd.git

Package: longnowformd
Architecture: all
Depends: ${misc:Depends}
Description: Debian package for adding archive.org links to .md files
  Debian package for adding archive.org links to markdown files in the format [...](original link) ([a](archive.org link))
